.section {
    .header {
        .title {
            font-size: 1.8rem;
            font-weight: 600;
            font-style: italic;
            color: #213547;
        }
    }

    .main {
    }
}
